<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <!--configSections>
    <section name="controls" type="IDE_WPF.ControlConfigSection, IDE_WPF"/>
  </configSections-->
  
  <appSettings>
    <add key="directory" value="%USERPROFILE%\Documents\IDE"/>
    <add key="default_font" value="Consolas"/>
    <add key="default_font_size" value="16"/>

    <add key="code_box_font" value="Consolas"/>
    <add key="code_box_font_size" value="16"/>
    <add key="code_box_font_color" value="#FFFFFF"/>
    <add key="code_box_background" value="#202020"/>
    <add key="code_box_background_alternate" value="#373737" />
    
  </appSettings>  
    <!--
    <controls>
      <control type="CodeBox">
        <bindings>
          <key action="paste" modifier="None" key="v"/>
          <key action="copy" modifier="None" key="c"/>
        </bindings>
      </control>
    </controls>
    -->
</configuration>
